<script is:inline>
  function redirectHandler() {
    return {
      redirectUrl: "#",

      init() {
        // Auto-redirect on page load
        this.performRedirect();
      },

      performRedirect() {
        const fragment = window.location.hash.substring(1);
        const params = new URLSearchParams(fragment);
        const accessToken = params.get("access_token");
        const refreshToken = params.get("refresh_token");
        const type = params.get("type");

        if (accessToken && refreshToken && type === "recovery") {
          const appDeepLink = `routinetrace://resetpassword?access_token=${accessToken}&refresh_token=${refreshToken}&type=${type}`;
          this.redirectUrl = appDeepLink;
          window.location.replace(appDeepLink);
        } else {
          this.redirectUrl = "routinetrace://login";
          window.location.replace("routinetrace://login");
        }
      },

      handleRedirect() {
        this.performRedirect();
      },
    };
  }
</script>
<div x-data="redirectHandler()" class="redirect-container">
  <h1>Redirecting...</h1>
  <img src="/logo/Color-portrait.png" alt="logo" />
  <p>
    If you are not redirected automatically, <a
      :href="redirectUrl"
      @click="handleRedirect">click here</a
    >.
  </p>
</div>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 252, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  .redirect-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 700px;
    width: 100%;
  }

  h1 {
    color: #333;
    font-size: 3.5em; /* Increased font size */
    margin-bottom: 20px;
  }

  img {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
  }

  p {
    color: #666;
    font-size: 3.2em;
    line-height: 1.5;
  }

  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  }
</style>
